:root {
  --section-border-radius: 0.5rem;
  --section-padding: 1rem;
}

body {
  font-family: monospace;
  max-width: 700px;
}

h1, h2, h3 {
  margin-top: 0;
}

section {
    border: 1px solid gray;
    border-radius: var(--section-border-radius);
    margin: 1rem 0;
    padding: var(--section-padding);
}

li {
  margin-bottom: 0.25rem;
}

.song {
  text-transform: capitalize;
}

.attachment-title {
  background: #eee;
  margin: calc(-1 * var(--section-padding));
  margin-bottom: var(--section-padding);
  border-radius: var(--section-border-radius) var(--section-border-radius) 0 0;
  border-bottom: 1px solid gray;  padding: 1rem;
}
